div.header(style='display:flex; justify-content: space-between;')

	p
		a(href="/")
			img(src="/img/logo.png")

		a(href="/board/main/valorant") 발로란트
			img(src="/img/valorant.png" height="50px" width="50px")
		a(href="/board/main/lol") 리그오브레전드
			img(src="/img/league_of_legend.png" height="50px" width="50px")
		a(href="/board/main/diablo4") 디아블로4
			img(src="/img/diablo4.png" height="50px" width="50px")

	form.login-check-false.login-form(action="/auth/login" method="post")
		a(href="/auth/session_check") (임시) 세션+쿠키체크
		a(href="/auth/join") 회원가입
		input.login-id(type="text" name="id" placeholder="아이디입력")
		input.login-pw(type="password" name="pw" placeholder="비밀번호입력")
		input.login-submit(type="submit" value="로그인")
		a(href="/auth/kakao/start")
			img(src="/img/kakao_login_small.png")

	p.login-check-true
		a.nickname
		a(href="/auth/myPage") 마이페이지
		a 알림(괄호안에는 숫자 들어가야함)
		a(href="/auth/logout") 로그아웃
.title-sub(style="display:flex; justify-content: center; flex-direction: column; align-items: center;")
	p(id="game" value=`${game}` style='display: none') #{game}

	div(style='display: flex; justify-content: space-between; align-items: center;')
		div.ad-header(style='flex-grow: 1; width:336px; height:280px;')
			script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6704743937725089" crossorigin="anonymous")
			// ad_header 광고 유닛 추가
			ins.adsbygoogle(style="display:inline-block;width:200px;height:200px" data-ad-client="ca-pub-6704743937725089" data-ad-slot="8348550968")
			script.
				(adsbygoogle = window.adsbygoogle || []).push({});
		div(style='flex-grow: 1;')
			a(href="/")
				img(src="/img/logo_2.png")
		div.ad-header(style='flex-grow: 1; width:336px; height:280px;')
			script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6704743937725089" crossorigin="anonymous")
			// ad_header 광고 유닛 추가
			ins.adsbygoogle(style="display:inline-block;width:200px;height:200px" data-ad-client="ca-pub-6704743937725089" data-ad-slot="8348550968")
			script.
				(adsbygoogle = window.adsbygoogle || []).push({});
	a 온라인 게임 구인 플랫폼 - 너만오면고
	h1(style="display:none;") Welcome to #{title} #{game}


.navigation-bar
	a(href=`/board/recruit/${game}`) 팀원구하기
	a(href=`/board/community/${game}`) 커뮤니티
	a(href=`/stat/search/${game}`) 전적검색
