mixin communityBlock(eachResult)
    a.container-board-each(href=`/board/community/${game}/detail?boardSeq=${eachResult.boardSeq}`)
        span='글번호: '+eachResult.boardSeq
        span='닉네임: '+eachResult.nickname
        span='제목: '+eachResult.title
        span='내용: '+eachResult.content
        br

mixin recruitBlock(eachResult)
    a.container-board-each(href=`/board/recruit/${game}/detail?boardSeq=${eachResult.boardSeq}`)
        .box-header
            .box-header-title
                span=`[${eachResult.howLong}]`+eachResult.title
                if eachResult.voice === 1
                    img(src="/img/mic_on.png" style="height:20px")
                else
                    img(src="/img/mic_off.png" style="height:20px")

            .box-header-information
                img(src="/img/logo_riot.png" style="height:30px")
                span=eachResult[`tier_${game}`]
                span=eachResult[`id_${game}`]
                span(style="display: none")='작성시간: '+eachResult.writeTime
                span.time-difference
        .box-content
            p=eachResult.content
        .box-footer
            p=`만료됨 체크: ${eachResult.isExpired}`
