extends ../../layouts/sidebarLayout


block content
    p 카테고리를 파라미터로 받아서 게시글 리스트를 리턴, 페이지네이션 해야함
    p #{category} 게시판

    a(href=`/board/${category}/${game}/insert`) 글쓰기
    .container-board
        each eachResult in result.reverse()
            a.container-board-each
                p='글번호: '+eachResult.seq
                p='닉네임: '+eachResult.nickname
                p='제목: '+eachResult.title
                p='카테고리: '+eachResult.category
                p='게임: '+eachResult.game
                p='내용: '+eachResult.content

                br
        else
            =`there are no results`

block script
    script(src='/js/board/list.js')

