extends ../../layouts/sidebarLayout

block content
    p 게시글 상세페이지
    p='글번호: '+result.boardSeq
    p='닉네임: '+result.nickname
    p='제목: '+result.title
    p='카테고리: '+result.category
    p='글쓴이롤티어: '+result.tier_lol
    p='글쓴이발로란트티어: '+result.tier_valorant
    p='게임: '+result.game
    p='내용: '+result.content
    p='작성시간: '+result.writeTime
    br
