extends ../../layouts/sidebarLayout


block content
    p 카테고리를 파라미터로 받아서 게시글 리스트를 리턴, 페이지네이션 해야함
    p #{category} 게시판

    a(href=`/board/${category}/${game}/insert`) 글쓰기
    .container-board
        each eachResult in result.reverse()
            a.container-board-each(href=`/board/detail?boardSeq=${eachResult.boardSeq}`)
                span='글번호: '+eachResult.boardSeq
                span='닉네임: '+eachResult.nickname
                span='제목: '+eachResult.title
                span='카테고리: '+eachResult.category
                span='글쓴이롤티어: '+eachResult.tier_lol
                span='글쓴이발로란트티어: '+eachResult.tier_valorant
                span='게임: '+eachResult.game
                span='내용: '+eachResult.content

            br

        else
            =`there are no results`

block script
    script(src='/js/board/list.js')

