extends ../../layouts/sidebarLayout

mixin communityBlock(eachResult)
  a.container-board-each(href=`/board/community/${game}/detail?boardSeq=${eachResult.boardSeq}`)
    span='글번호: '+eachResult.boardSeq
    span='닉네임: '+eachResult.nickname
    span='제목: '+eachResult.title
    span='내용: '+eachResult.content
    br

mixin recruitBlock(eachResult)
  a.container-board-each(href=`/board/recruit/${game}/detail?boardSeq=${eachResult.boardSeq}`)
    .box-header
        .box-header-title
            span=eachResult.title
            if eachResult.voice === 1
                img(src="/img/mic_on.png" style="height:20px")
            else
                img(src="/img/mic_off.png" style="height:20px")

        .box-header-information
            img(src="/img/logo_riot.png" style="height:30px")
            span=eachResult.nickname
            span(style="display: none")='작성시간: '+eachResult.writeTime
            span.time-difference
    .box-content
        p=eachResult.content
    .box-footer
        p='얼마나: '+eachResult.howLong
    //.time-difference에 값을 표시하기 위한 데이터 조회
    p(style="display: none")='작성시간: '+eachResult.writeTime



block content
    p 카테고리를 파라미터로 받아서 게시글 리스트를 리턴, 페이지네이션 해야함
    p #{game} #{category} 게시판
    p (recruit 게시판에 올린 게시물은 15분 뒤에 자동으로 만료됩니다.)
        div
            a(href=`/board/${category}/${game}/insert`) 글쓰기

        if category == 'community'
            .container-board-community
                each eachResult in result.reverse()
                    +communityBlock(eachResult)


        else if category == 'recruit'
            .container-board-recruit
                each eachResult in result.reverse()
                    +recruitBlock(eachResult)
        else
            p=`there are no results`

block script
    script(src='/js/board/list.js')
    script(src='/js/board/timeDifferenceCalculator.js')

